In [2]:
import pandas as pd

In [3]:
# Leer y cargar los distintos dataset
ruta = "..\\Datasets\\"
datasets = ["steam_games.parquet", "users_items.parquet", "user_review.parquet" ]

df_game = pd.read_parquet(ruta + datasets[0])
df_items = pd.read_parquet(ruta + datasets[1])
df_reviews = pd.read_parquet(ruta + datasets[2])

Dataset steam_games

In [8]:
# Convertimos la variable item_id al tipo int
df_game["item_id"] = df_game["item_id"].astype(int)
df_game.head(2)

       genres                title release_date  price  item_id  developer
88310  Action  Lost Summoner Kitty         2018   4.99   761140  Kotoshiro
88310  Casual  Lost Summoner Kitty         2018   4.99   761140  Kotoshiro

Dataset users_items

In [10]:
df_items.head(2)

             user_id  items_count  playtime_forever  playtime_2weeks
0  76561197970982479          277               6.0              0.0
1  76561197970982479          277               0.0              0.0

In [14]:
df_reviews["item_id"] = df_reviews["item_id"].astype(int)
df_reviews.head(2)

             user_id  item_id  recommend  sentiment_analysis
0  76561197970982479     1250       True                   2
0  76561197970982479    22200       True                   2

In [15]:
# Realizar merge de dataframes steam-games y user_reviews (item_id) 
df_game_reviews = pd.merge(df_game, df_reviews, on = 'item_id' )

In [16]:
# Realizar merge de dataframes steam-games y df_items (user_id)
df_unificado = pd.merge(df_game_reviews, df_items, on = 'user_id' )

In [17]:
df_unificado.duplicated(subset=df_unificado.columns).sum()

148206

In [18]:
df_unificado.drop_duplicates(keep= 'last', inplace=True)

In [19]:
# se eliminan valores nulos
df_unificado.dropna(subset= ['playtime_forever','playtime_2weeks'], inplace= True)

In [21]:
df_unificado.sample(3)

,genres,title,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis,items_count,playtime_forever,playtime_2weeks
578374,Indie,Hard Reset Extended Edition,2012,14.99,98400,Flying Wild Hog,usaidwotnow,True,0,219,42.0,0.0
4251387,RPG,Trove,2015,0.00,304050,Trion Worlds,shadowxlucario,False,0,116,3608.0,0.0
5415503,Action,Loadout,2014,0.00,208090,Edge of Reality,Phoenixexe,True,1,119,14.0,0.0